

<!-- Modal -->
<div class="map-modal modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
        <div id="map" style="width: 100% !important; height: 815px !important; margin: auto;" data-markers="<%= @markers.to_json %>">
    </div>
 <div class= "cards-on-map" style= >

 </div>
</div>
</div>



<!-- Placed at the end of the document so the pages load faster -->

