<div class="wrapper-light-grey">
  <div class="card-container container">
    <div class="row">
      <div class="cards">
        <% @places.each do |place| %>

          <%= render 'shared/cards_places', place: place, tag_collection: {} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
