/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 10px;
  text-align: center;
  color: white;
  border: none;
}
.alert-info {
  background: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}
.alert-warning {
  background: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}
