.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 9px;
}
.avatar-friends-list {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  width: 40px;
  border-radius: 50%;
}
