.btn-tag {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  padding: 4px 12px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: white;
  transition: background 0.3s ease;
  .clicked {
    color: white;
    background: #df367c;
    border: 1px solid white;
  }
}

.tag-click {
  color: white;
  background: #df367c;
  border: 1px solid white;
}
