.wrapper-light-grey {
  background-color: rgb(240,240,240);
  display: flex;
}

.card-container {
  margin: 0;
  width: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 1 auto;
  margin: 15px 0;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  position: relative;
  width: 100%;
}

.card-top {
  height: 300px;
  background-size: cover;
  color: white;
  position: relative;
}

.wishlist-link {
  position: absolute;
  right: 27px;
  top: 4px;
  width: 20px;
  opacity: 1;
  // font-size: 25px;
  font-size: 2em;
}

.card-bottom {
  padding: 0px 15px 10px;
  margin-top: 10px;
}

.card-bottom-place {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
}

.card-bottom-post {
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: flex-start;

}

.card-bottom-post p {
  color: rgba(0,0,0,0.9);
  font-weight: lighter;
  letter-spacing: 0.1px;
  font-size: 1em;
  // font-size: 12px;
  line-height: 1.3;
  text-align: justify;
  white-space: pre-line;
}

.card-bottom-place p {
  color: rgba(0,0,0,0.9);
  font-weight: lighter;
  letter-spacing: 0.1px;
  // font-size: 12px;
  font-size: 1em;
}

a.show-more-text {
  color: rgba(0,0,0,0.6) !important;
  font-size: 0.8em;
  text-align: left !important;
}

.display-less {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  // max-height: 48px;
  max-height: 2.7em;      /* fallback */
  -webkit-box-orient: vertical;
  margin-bottom: 3px;
}

.tags-card-bottom {
  padding: 0px 0px 5px 15px;
  display: -webkit-box;
};
