.form_card{
  background-color: white;
  // margin: 20px;
  margin: 5px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-top: 10px;
  input{
    text-align: center;
    border: none;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
  }
}

.sticky-form{
  position: sticky;
}

#post_note{
height: auto;
text-align: center !important;
}
