.header{
  background-color: #50514f;
  height: 154px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  margin: -10px 0 0 0;
  h3{
    // font-size: 40px;
    color: white;
  }
  a{
    color: white;
  }
}

.smaller-font{
  // font-size: 70%;
  font-size: 0.7em;
}
.highlights {
  display: flex;
  background-color: white;
  bottom: -20px;
  padding-top: 1px;
  z-index: 1;
  margin: 10px 45px 0px 45px;
  align-items: center;
  .user-image{
    margin: 10px;
  }
  .user-info{
    width: 100%;
    display: flex;
    color: rgba(0,0,0,0.6);
    font-size: 0.8em;
    text-align: center;
    justify-content: space-around;
    .user-following{

    }
    .user-follower{

    }
    .user-places{

    }
  }
}

.highlights p {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 100;
  // font-size: 12px;
  font-size: 0.8em;
  line-height: 1.8;
}

.place-highlights {
  height: 108px;
}

.user-highlights {
  height: 70px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  border-radius: 4px;
  margin-bottom: 20px;
}

.row-margin {
  margin-top:10px;
  margin-bottom: 56px;
}

