.header{
  background-color: rgba(0,0,0,0.2);
  height: 140px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  h1{
    // font-size: 40px;
    font-size: 2.5em;
    margin: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  a{
    color: white;
  }
}

.smaller-font{
  // font-size: 70%;
  font-size: 0.7em;
}
.highlights {
  display: flex;
  background-color: white;
  bottom: -20px;
  padding-top: 1px;
  z-index: 1;
  margin: 10px 45px 0px 45px;
  align-items: center;
  .user-image{
    margin: 10px;
  }
  .user-info{
    text-align: left;
  }
}

.highlights p {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: lighter;
  // font-size: 12px;
  font-size: 0.8em;
  line-height: 1.8;
}

.place-highlights {
  height: 108px;
}

.user-highlights {
  height: 70px;
}

.row-margin {
  margin-top:10px;
  margin-bottom: 56px;
}

