.header{
  background-color: #50514f;
  height: 175px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  h1{
    font-size: 40px;
    margin: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

.smaller-font{
  font-size: 70%;
}
.place-highlights {
  background-color: white;
  height: 90px;
  bottom: -20px;
  z-index: 1;
  margin: 10px 45px 0px 45px;
}

.place-highlights p {
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: lighter;
  font-size: 12px;
  line-height: 1.8;
}
.row-margin {
  margin-top:10px;
  margin-bottom: 56px;
}

