.search-area{
  width: 100%;
  margin: 10px auto;
  display: flex;
  padding: 10px 30px 0 20px;

  .search-field{
    width: 100%
  }
  .search-filters{
    width: 10px;
    margin: 0 10px;
  }
  i{
    font-size: 36px;
    line-height: 44px;
  }
}

.all-places{
  width: 100%;
  text-align: center;
}

.search-tags{
  width: 400px;
  margin: 10px auto;
  padding: 0 25px;
}

.bigger-search{
  border-radius: 4px;
  font-size: 1em;
  height: 44px;
}

.pink-filter{
  color: #df367c;
}

.grey-filter{
  color: rgba(0,0,0,0.4);
}

.user-search{
  padding: 10px 20px 0 20px;
}
