// Source for tags CSS
// https://cssglobe.com/pure-css3-post-tags/

.tags{
  margin: 10px;
  padding: 1px;
  list-style:none;
}

.tags-place {
  position:relative;
  right:0px;
  bottom: 8px;
}

.tags li, .tags a{
  float:left;
  height:24px;
  line-height:24px;
  position:relative;
  // font-size:9px;
  font-size:0.95em;
}
.li-place-tag {
   margin-bottom: 12px;
}

.tags a{
  margin-left:15px;
  padding:0 5px 0 12px;
  background:#df367c;
  color:#fff;
  text-decoration:none;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius:4px;
  border-bottom-right-radius:4px;
  -moz-border-radius-topright:4px;
  -webkit-border-top-right-radius:4px;
  border-top-right-radius:4px;
}

.tags a:before{
  content:"";
  float:left;
  position:absolute;
  top:0;
  left:-12px;
  width:0;
  height:0;
  border-color:transparent #df367c transparent transparent;
  border-style:solid;
  border-width:12px 12px 12px 0;
}

.tags a:after{
  content:"";
  position:absolute;
  top:10px;
  left:0;
  float:left;
  width:4px;
  height:4px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background:#fff;
  -moz-box-shadow:-1px -1px 2px #004977;
  -webkit-box-shadow:-1px -1px 2px #004977;
  box-shadow:-1px -1px 2px #004977;
}
