// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "material_icons";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

h1, h2, h3, h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
}

p{
  font-family: 'Open Sans', sans-serif;
}

h1{
  font-size: 72px;
  letter-spacing: 6px;
  font-weight: 700px;
  line-height: 48px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 24px;
}

h4{
  font-size: 16px;
  letter-spacing: 3px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
}

.brand-pink {
  color: #df367c;
}

.brand-grey {
  color: #50514f;
}

.brand-white{
  color: white;
}

.font-light{
  font-weight: 200;
}
