
<div class="wrapper-light-grey">
  <div class="card-container">
    <div class="row">
      <div class="cards">
        <% @places.each do |place| %>
          <%= render 'shared/cards_places', place: place, tag_collection: {} %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div
  id="map"
  style="width: 375px;
  height: 815px;
  margin: auto;"
  data-markers="<%= @markers.to_json %>"
></div>
