<%# render 'shared/map', markers: @markers %>


<div id="not-map">
  <div class="search-and-cards">
    <%= render 'shared/search_bar' %>
    <div class="wrapper-light-grey">
      <div class="card-container container">
        <div class="row">
          <% if @places.count == 0 %>
            <p>Sorry, none of your friends have been anywhere matching that search criteria yet. Please try a different search.</p>
          <% end %>
          <div class="cards">
            <% @places.each do |place| %>
              <%= render 'shared/cards_places', place: place, tag_collection: {} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="desktop-map-container">
    <%= render 'shared/desktop-map', markers: @markers %>
  </div>
</div>


<!-- Button trigger modal -->

<!-- BELOW HERE IS WHERE REACT WILL BE CALLED FROM -->

<!-- HELLO -->

<!-- <div id="root"></div>
<%# javascript_pack_tag "places" %> -->

