<%# render 'shared/search_bar' %>
<!--
  <div class="wrapper-light-grey">
    <div class="card-container container">
      <div class="row">
        <%# if @places.count == 0 %>
          <p>Sorry, none of your friends have been anywhere matching that search criteria yet. Please try a different search.</p>
        <%# end %>
        Instead of returning nothing, could return an array of places other people went.
        <div class="cards">
          <%# @places.each do |place| %>
            <%# render 'shared/cards_places', place: place, tag_collection: {} %>
          <%# end %>
        </div>
      </div>
    </div>
  </div>
 -->

<!-- Button trigger modal -->
<%# render 'shared/map', markers: @markers %>

HELLO

<div id="root"></div>
<%= javascript_pack_tag "places" %>

